__pycache__

.env

datasets/backups
datasets/LibVision
datasets/Book_spine_2
datasets/Bookspine_text_blocks
runs
output

yolo11*.pt
models/east_text_detection.pb

dictionaries
books.db
app.log
bookshelves.db